@tailwind base;
@tailwind components;
@tailwind utilities;

@import './_searchBar';

#app {
  height: 100vh;
}

.text-xxs {
	font-size: 0.6rem;
}

.w-7 {
	width: 1.75rem;
}

.bg-salmon {
	background-color: #f49c76;
}

.min-w-lg {
  min-width: 1024px;
}
